[submodule "rte-rrtmgp"]
	path = rte-rrtmgp
	url = https://github.com/earth-system-radiation/rte-rrtmgp
[submodule "rrtmgp-data"]
	path = rrtmgp-data
	url = https://github.com/earth-system-radiation/rrtmgp-data
[submodule "external/kernel_launcher"]
	path = external/kernel_launcher
	url = https://github.com/KernelTuner/kernel_launcher.git
